[remote "bitbucket"]
    url = git@bitbucket.org:huangyingw/macvim.git
    fetch = +refs/heads/*:refs/remotes/bitbucket/*
[remote "github"]
    url = git@github.com:huangyingw/macvim.git
    fetch = +refs/heads/*:refs/remotes/github/*
[remote "macvim-dev"]
    url = https://github.com/macvim-dev/macvim.git
    fetch = +refs/heads/*:refs/remotes/macvim-dev/*
[push]
    remote = bitbucket
    remote = github
[gsync]
    remote = macvim-dev
    branch = master
[gdif]
    ignore = .gitconfig
    ignore = .gitignore
    ignore = build.sh
    ignore = prunefile.conf
    ignore = src/MacVim/mvim 
    ignore = src/window.c
